body {
	font-family: Arial, Helvetica, sans-serif;
}
.card {
	background-color: rgb(7, 114, 135);
	display: grid;
	grid-template-columns: 1fr;
	place-content: center;
	place-items: center;
	border-radius: 15px;
	box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
	padding: 2rem;
	margin: 1rem;
	&__image {
		border-radius: 50%;
		border: 3px solid rgb(85, 71, 116);
	}
	&__description {
		text-align: center;
	}
	&__button {
		height: 60px;
		width: 60px;
		border-radius: 50%;
		border: none;
		padding: 1rem;
		box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
		cursor: pointer;
		transition: 0.3s transform;
		background-color: rgb(245, 131, 131);

		&:hover {
			background-color: aquamarine;
			transform: scale(1.22);
			font-weight: bold;
		}
	}
}
